html, body {
  height: 100%;
}

.App {
  padding: 1em;
}

/* Color */
.red {
  color: red;
}

.green {
  color: green;
}

/* Table */
table {
  margin: 1em 0;
}

td, th {
  padding: 10px;
}

.table-page {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  min-height: 30.5cm;
  page-break-after: always;
}

/* Page & Rows */
.one-page {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 21cm;
  height: 30.5cm;
}

.one-row {
  height: 33%;
  display: flex;
  flex-direction: row;
}

.one-person {
  border: 1px solid black;
  border-collapse: collapse;
  flex: 1;
}

.one-image {
  width: 100%;
  height: auto;
}

.info-container {
  display: flex;
}

.image-container {
  min-width: 220px;
  max-width: 220px
}

.person-name, .person-age, .person-church, .person-comments{
  margin-left: 1em;
}

.person-comments {
  display: block;
}

@media print {
  html, body {
    margin: 0;
  }

  #options-bar {
    display: none;
  }

  .one-page {
    page-break-after: always;
    border: none;
  }

  .one-person {
    border: none;
  }

}